<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
			<th class="centered">Pay Level</th>
    </tr>
  </thead>
  <tbody>
    <% @current_assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.employee.name, employee_path(assignment.employee) %></td>
				<td class="centered"><%= assignment.pay_level %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @current_assignments, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>

