<%= render :partial => "current_stores" %><br/>
<%= render :partial => "inactive_stores" unless @inactive_stores.empty? %>

<div id="container">
<p><strong><%= link_to "Create Store", new_store_path, :class => 'btn' %></strong></p>

</br>

</div>