body { 
	/*padding-top: 60px;*/ 
	/*font-size: 14px;*/
} 

.supertiny {
	font-size: 5px;
	/*line-height: 1.5;*/
}

.well {
	line-height: 1.5;
}

.well li {
	font-size: 130%;
	line-height: 1.5;
}

.table th.centered, .table td.centered {
    text-align: center;
}

select.date { width: 90px; }

.table-striped tbody tr:nth-child(2n+1) td {
	background-color: #E6E6E6;
}

.navbar-inner {
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#footer {
	margin-top: 15px;
  padding-top: 0px;
  /*border-top: 1px solid #eee;*/
	background-color:#E6E6E6;
	text-align: center;
}

#copy {
	font-size: 85%;
	text-align: center;
}
