<h2>About the Amazing &amp; Marvelous Creamery</h2>
<div class="row">
	<div class="span8">
		<p>
			I scream, you scream, we all scream for ice cream!  Or at least that 
			is what we are led to believe.  The fact is few people scream for ice 
			cream, but truth be told, after trying some of the delectable treats at 
			our creamery, people literally beg for more.  Not only is it great ice 
			cream, but it is also a great place to work.  If you are interested in 
			ice cream and/or a job, just stop by one of our stores today.
		</p>
	</div>
	<div class="span4">
		picture here
	</div>
</div>
