<div id="container">
	<br>
	
<h1><em>About The Creamery</em></h1>

<div id="pic2">
	<%= image_tag 'strawberryicecream.jpg'%>
</div>

<div id="main2">
<p>
	We know how important your ice cream is to you.  We know 
	how much you love them and how they are a part of 
	your family.  And although we live in the 'Steel City' 
	and the people here are tough, we also know your tastebuds 
	aren't always as easily satisfied. That's why this creamery   
	in Pittsburgh is committed to giving you and your family only
	the best tastes at the most affordable prices.  Come visit my
	creamery at 5000 Forbes Avenue (in the tunnels) and see how we
	can help your tastebuds experience the tastes of a lifetime.
</p>

</div>

<div style="clear:both;"></div>
</div>