<div id="container">
	<br>
	
<h1>Welcome To My Creamery!</h1>

<div id="pic">
	<%= image_tag 'icecreamcake.jpg' %>
</div>

<div id="main">
<p>
	My Creamery is a group of students dedicated to providing 
	you and your family with the finest delicacies in the Pittsburgh area.  
	The links below will tell you more about our services and in 
	the near future we will be expanding this site so that customers
	like yourself can directly view our exquisite and unique treats.
</p>
</div>

<div style="clear:both;"></div>
</div>
