/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body{
	background-color: grey;
}

#container{
	width:90%; 
	margin: 0 auto;
}

#main{
	width:60%; 
	float: left;
	padding: 10px;
}

#pic{
	width:35%; 
	float:left; 
	margin:0 auto;
	padding: 10px;
	padding-left: 0;
}

#header{
	background: #f0dfe9;
}


#main2{
	width:40%; 
	float: left;
	padding: 10px;
}

#pic2{
	width:55%; 
	float:left; 
	margin:0 auto;
	padding: 10px;
	padding-left: 0;

}