/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body{
	background-color: grey;
}

#container{
	width:90%; 
	margin: 0 auto;
}

#main{
	width:60%; 
	float: left;
	padding: 10px;
}

#pic{
	width:35%; 
	float:left; 
	margin:0 auto;
	padding: 10px;
	padding-left: 0;
}

#header{
	background: #f0dfe9;
}


#main2{
	width:40%; 
	float: left;
	padding: 10px;
}

#pic2{
	width:55%; 
	float:left; 
	margin:0 auto;
	padding: 10px;
	padding-left: 0;

}

#footer {
	margin-top:15px;
	padding-top:0px;
	background-color:#e6e6e6;
	text-align:center;
}

/*	=============================================== */
/*	TR elements handled here (main rows only)  */

.dg_list_line_odd {
	font: 90% Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: left;
	vertical-align: top;
	line-height: 2.5;
	padding: 3px;
}
.dg_list_line_even {
	font: 90% Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: left;
	vertical-align: top;
	line-height: 2.5;
	background-color: #FBEDCE;
	padding: 3px;
}
.dg_list_line_even img {
	vertical-align: center;
	padding: 3px 3px 3px 3px;
}
.dg_list_line_odd img {
	vertical-align: center;
	padding: 3px 3px 3px 3px;
}
.dg_list_line_odd:hover {
	background-color: #DCE1E7;
	color: #000000;
}
.dg_list_line_odd:hover a {
	background-color: #DCE1E7;
	color: #800000;
	text-decoration: underline;
}
.dg_list_line_even:hover {
	background-color: #DCE1E7;
	color: #000000;
}
.dg_list_line_even:hover a {
	background-color: #DCE1E7;
	color: #800000;
	text-decoration: underline;
}


/*	=============================================== */
/*	TR elements handled here (alt rows only)  */

tr.dg {
	line-height: 2;
	padding: 2px;
}
tr.dgalt,th.dgalt,td.dgalt {
	padding: .75em;
}
tr.dgalt:hover {
	background-color: #FBEDCE;
	color: #000000;
}
tr.dgalt:hover a {
	text-decoration: underline;
	color: #000000;
	background-color: #FBEDCE;
}

